.biofeedback-page {
    .first-segment {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../assets/landing_biofeeback-min.jpg"),
            no-repeat, center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .first-segment-container {
            width: 1000px;
            font-family: "Rajdhani", sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .biofeedback-header {
                font-size: 90px;
                font-weight: 500;
            }

            .biofeedback-desc {
                font-size: 30px;
                margin-top: 40px;
                width: 700px;
                font-weight: 300;
            }

            .biofeedback-button {
                margin-top: 40px;
                padding: 12px;
                font-size: 30px;
                border: 2px solid white;
                cursor: pointer;
                user-select: none;
                transition: all 100ms ease-in-out;
            }

            .biofeedback-button:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        @media (max-width: 1100px) {
            .first-segment-container {
                width: 100%;
                padding-left: 50px;
                padding-right: 50px;

                .biofeedback-header {
                    font-size: 70px;
                }

                .biofeedback-desc {
                    font-size: 20px;
                    margin-top: 40px;
                    width: 600px;
                }

                .biofeedback-button {
                    font-size: 24px;
                }
            }
        }

        @media (max-width: 900px) {
            .first-segment-container {
                width: 100%;

                .biofeedback-header {
                    font-size: 55px;
                }

                .biofeedback-desc {
                    font-size: 18px;
                    margin-top: 40px;
                    width: 100%;
                }

                .biofeedback-button {
                    font-size: 20px;
                }
            }
        }

        @media (max-width: 430px) {
            overflow: hidden;

            .first-segment-container {
                width: 100%;

                .biofeedback-header {
                    font-size: 40px;
                }

                .biofeedback-desc {
                    font-size: 18px;
                    margin-top: 40px;
                    width: 100%;
                }

                .biofeedback-button {
                    font-size: 20px;
                }
            }
        }
    }

    .about-project-segment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 30px;

        .about-project-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1000px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .about-project-left {
            margin-right: 40px;
            position: relative;
            opacity: 1;

            img {
                width: 400px;
                padding-bottom: 60px;
                margin-top: 0px;
            }
        }

        .about-project-right {
            text-align: right;

            .about-project-header {
                font-size: 50px;
                margin-bottom: 20px;
                font-weight: 600;
            }

            .about-project-desc {
                font-size: 20px;
                font-weight: 300;
                color: rgb(202, 202, 202);
                margin-bottom: 20px;
            }

            .about-project-follow-us {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                span {
                    font-size: 20px;
                    font-weight: 700;
                    color: rgb(216, 216, 216);
                }

                .media-icons {
                    .each-icon {
                        height: 30px;
                        margin-left: 14px;
                        cursor: pointer;
                    }

                    .each-icon:hover {
                        opacity: 0.9;
                    }
                }
            }
        }

        @media (max-width: 1100px) {
            padding-top: 70px;
            padding-bottom: 70px;

            .about-project-container {
                width: 100%;
                padding-left: 50px;
                padding-right: 50px;
            }

            .about-project-left {
                position: absolute;
                opacity: 0.15;

                img {
                    padding-bottom: 0px;
                    margin-top: 50px;
                }
            }
        }

        @media (max-width: 600px) {
            
            overflow: hidden;

            .about-project-container {
                padding-left: 30px;
                padding-right: 30px;
                position: relative;
            }

            .about-project-right {
                .about-project-header {
                    font-size: 36px;
                }

                .about-project-desc {
                    font-size: 18px;
                }
            }
        }

        
    }

    .next-segment {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

        .comming-soon {
            font-size: 40px;
            text-align: center;
        }
    }
}