.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0);
    color: rgb(243, 243, 243);
    height: 100px;
    // top: -100px;
    transition: transform 300ms ease-in-out;
    z-index: 1000;
    padding-left: auto;
    padding-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    transition: background 200ms ease-in-out;

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 840px;
        height: 100%;

        .hamburger {
            display: none;
            pointer-events: none;
        }
    }

    .logo-container {
        height: 60%;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        a {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 80%;
            }
        }
    }

    .each-link {
        font-family: 'Rajdhani', "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        margin-top: 0px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .dropdown {
            position: absolute;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            width: 240px;
            padding: 20px 20px;
            padding-top: 90px;
            z-index: -1;
            left: -40px;
            top: 0px;
            background-color: rgba($color: #000000, $alpha: 0.8);
            opacity: 0;
            pointer-events: none;
            transition: all 300ms ease-in-out;

            .dd-each {
                padding: 10px 20px;
                font-size: 16px;
            }
            
            .dd-each:hover {
                opacity: 0.85;
            }
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .each-link:hover {
        opacity: 0.85;
    }

    .dropdownable:hover {
        opacity: 1;
    }

    .dropdownable:hover > .dropdown {
        pointer-events: all;
        opacity: 1;
    }

    @media (max-width: 790px) {
        padding-left: 50px;
        padding-right: 50px;
    
        .header-container {

            .hamburger {
                display: flex;
                pointer-events: all;
                position: absolute;
                z-index: 1002;
                top: 21px;
                right: 35px;
                cursor: pointer;
            }
        }
        
        .header-navigation {
            position: absolute;
            right: 0px;
            top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 240px;
            padding: 35px;
            padding-top: 70px;
            background-color: black;
            opacity: 0;
            pointer-events: none;
            transition: opacity 200ms ease-in-out;
    
            .each-link {
                margin-top: 25px;
            }
        }

        .show-navigation {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.show-header {
    background-color: rgba($color: #000000, $alpha: 1);
}